<p>Detailed time tables will be announced soon.</p>


<%= subheader("Keynotes") %>
<ul class="keynote_list">
<% @keynotes.each do |keynote| %>
  <li>
  <%= link_to keynote_path(keynote[:day]) do %>
    <%= render :partial=>"keynote_element", :locals=>{:keynote=>keynote} %>
  <% end %>
  </li>
<% end %>
</ul>

<%= subheader("Sessions") %>
<% @session_dict.each do |session_name, programs| %>

  <h3><%= session_name %></h3>

  <ul class="program_list">
    <% programs.each do |paper| %>
      <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
    <% end %>
  </ul>

<% end %>

<%= subheader("Visualization Contests") %>
<ul class="program_list">
  <% @contests.each do |paper| %>
    <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
  <% end %>
</ul>


<%= subheader("Posters") %>
<ul class="program_list">
  <% @posters.each do |paper| %>
    <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
  <% end %>
</ul>