<p>Detailed time tables will be announced soon.</p>


<%= subheader("Keynotes") %>
<% @keynotes.each do |keynote| %>
  <%= render :partial=>"keynote_element", :locals=>{:keynote=>keynote} %>
<% end %>

<%= subheader("Sessions") %>
<% @session_dict.each do |session_name, programs| %>

  <h3><%= session_name %></h3>

  <ul class="program_list">
    <% programs.each do |paper| %>
      <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
    <% end %>
  </ul>

<% end %>


<%= subheader("Posters") %>
<ul class="program_list">
  <% @posters.each do |paper| %>
    <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
  <% end %>
</ul>