<table class="program_time_table">
  <tr class="days">
      <td width=14%></td>
      <th width="21%"><span class="title">Day 1</span><br><span class="date">Apr 18</span></th>
      <th width="21%"><span class="title">Day 2</span><br><span class="date">Apr 19</span></th>
      <th width="21%"><span class="title">Day 3</span><br><span class="date">Apr 20</span></th>
      <th width="21%"><span class="title">Day 4</span><br><span class="date">Apr 21</span></th>
  </tr>
  <tr class="normal">
    <th>08:00 - 08:40</th>
    <td colspan="4" class="registration" >Registration</td>
  </tr>

  <tr class="normal">
    <th>08:40 - 09:00</th>
    <td rowspan="11" class="vast">Pacific VAST</td>
    <td>Opening</td>
    <td>Posters Fast-forward</td>
    <%= session(7, 2) %>
  </tr>

  <tr class="normal">
    <th>09:00 - 10:00</th>
    <td>
      <a href="#keynote_0">
    <div class="session">Keynote 1</div><div class="session_title">David Ebert</div>
    </a>
    </td>

    <td>
    <a href="#keynote_1">
    <div class="session">Keynote 2</div><div class="session_title">Gerard Jounghyun Kim</div>
    </a>
    </td>
  </tr>

  <tr class="normal">
    <th>10:00 - 10:20</th>
    <%= cell_coffee(3) %>
  </tr>

  <tr class="normal">
    <th>10:20 - 11:40</th>
    <%= session(0) %>
    <%= session(4) %>
    <%= session(8) %>
  </tr>

<tr class="normal">
    <th rowspan="2">11:40 - 13:00</th>
    <td rowspan="2" class="lunch"></td>
    <td rowspan="2" class="lunch">Lunch break</td>
    <td>Closing (30 mins)</td>
  </tr>

<tr class="normal">
    <td class="lunch">&#8291;</td>
</tr>

<tr class="normal">
    <th>13:00 - 14:20</th>
    <%= session(1) %>
    <%= session(5) %>
  </tr>

<tr class="normal">
    <th>14:20 - 14:40</th>
    <%= cell_coffee(2) %>
    <td rowspan="5" class="empty"></td>
  </tr>

  <tr class="normal">
    <th>14:40 - 16:00</th>
    <%= session(2) %>
    <%= session(6) %>
  </tr>


<tr class="normal">
    <th>16:00 - 16:20</th>
    <%= cell_coffee(2) %>
  </tr>

  <tr class="normal">
    <th>16:20 - 18:00</th>
    <%= session(3) %>
    <td class="posters"><a href="#posters">Posters</a> & <a href="#contest">Visual Storytelling Contest</a></td>
  </tr>

  <tr class="normal">
    <td colspan="2"></td>
    <td>Reception (Faculty Club)<br>18:30~</td>
    <td>Banquet (Yangjae)<br>19:00~</td>
  </tr>


</table>
<ul class="caption">
  <li><b>Reception (Apr 19, 18:30~): Faculty Club</b><br>
    We will take a walk altogether to the faculty club for about 20 mins.
  </li>

  <li><b>Banquet (Apr 20, 19:00~) : Diodia Buffet, El tower, 213, Gangnam-daero, Seocho-Gu, Seoul</b><br>
    Buses will leave in front of Hoam Faculty House around <i>6:00 PM</i>.<br>Return buses will leave Diodia around <i>9:00 PM</i>.
  </li>


</ul>

<h3 id="workshops">Workshops (PacificVAST) Schedules</h3>

<table class="program_time_table">
  <tr class="normal">
    <th>08:00 - 09:00</th>
    <td class="registration" >Registration</td>
  </tr>

  <tr class="normal">
    <th>09:00 - 09:10</th>
    <td>Opening Remarks</td>
  </tr>

  <tr class="normal">
    <th>09:10 - 10:00</th>
    <td>
      <a href="#keynote_0">
        <div class="session">PacificVAST Keynote talk I</div>
        <div class="session_title">Kwan-Liu Ma, University of California, Davis</div>
      </a>
    </td>
  </tr>

  <tr class="normal">
    <th>10:00 - 10:20</th>
    <%= cell_coffee(1) %>
  </tr>

  <tr class="normal">
    <th>10:20 - 11:40</th>

    <td>
    <a href="#keynote_1">
    <div class="session">Invited Talks I</div>
    <div class="session_title">YingCai Wu, Daniel Weiskopf</div>
    </a>
    </td>
  </tr>

<tr class="normal">
    <th>11:40 - 13:30</th>
    <td class="lunch">Lunch break</td>
  </tr>
<tr class="normal">
    <th>13:30 - 14:20</th>
    <td>
      <a href="#keynote_0">
        <div class="session">PacificVAST Keynote talk II</div>
        <div class="session_title">Bongshin Lee, Microsoft Research</div>
      </a>
    </td>
  </tr>

<tr class="normal">
    <th>14:20 - 14:40</th>
    <%= cell_coffee(1) %>
  </tr>

  <tr class="normal">
    <th>14:40 - 16:00</th>
    <td>
    <a href="#keynote_1">
    <div class="session">Invited Talks II</div>
    <div class="session_title">Xiaoru Yuan, Seok-Hee Hong</div>
    </a>
    </td>
  </tr>


<tr class="normal">
    <th>16:00 - 16:20</th>
    <%= cell_coffee(1) %>
  </tr>

  <tr class="normal">
    <th>16:20 - 17:30</th>
    <td>
    <div class="session">Panel Discussion</div>
    <div class="session_title">Chaoli Wang, Jaegul Choo, Kwan-Liu Ma, and Yun Jang</div>
    </td>
  </tr>
</table>

<%= subheader("Keynotes") %>
<ul class="keynote_list">
<% @keynotes.each_with_index do |keynote, index| %>
  <%= content_tag :li, :id=>"keynote_#{index}" do %>
    <%= link_to keynote_path(keynote[:day]) do %>
      <%= render :partial=>"keynote_element", :locals=>{:keynote=>keynote} %>
    <% end %>
  <% end %>
<% end %>
</ul>

<%= subheader("Sessions") %>
<% @session_ordered_names.each_with_index do |session_name, index|%>
<% programs = @session_dict[session_name] %>

  <%= content_tag :h3, session_name, :id=>"session_#{index}" %>

  <ul class="program_list">
    <% programs.each do |paper| %>
      <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
    <% end %>
  </ul>

<% end %>

<div id="posters"></div>
<%= subheader("Posters") %>
<ul class="program_list">
  <% @posters.each do |paper| %>
    <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
  <% end %>
</ul>


<div id="contest"></div>
<%= subheader("Visual Storytelling Contest") %>
<ul class="program_list">
  <% @contests.each do |paper| %>
    <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
  <% end %>
</ul>
