<p>
  PacificVis is a unified visualization conference, welcoming all areas of visualization research such as: information, scientific, graph, security, software and bio-visualization. Authors are invited to submit original and unpublished research and practical applications in all areas of visualization. We encourage high-quality posters that pertain to visualization, e.g., work-in-progress.
</p>

<%= subheader("Important Dates") %>
<p>
Submission deadlines will be determined soon.
</p>


<%= subheader("Submission") %>
<p>
  Abstract papers of up to 2 pages (two-column, single-spaced, 9 point font, including figures, tables and references) are invited. Manuscripts must be written in English, and follow the <%= link_to "formatting guidelines", @formatting_guideline %>. <%= link_to "DOC", @format_doc %> and <%= link_to "LaTeX", @format_latex %> templates are available. 
</p>
<p>
  Submissions should be made electronically in <strong>Adobe PDF</strong> (no paper copy will be accepted) by <strong>e-mailing it to the Poster Co-Chairs</strong> through (PacificVisPoster_AT_gmail.com) by the deadline. File name should start with primary author's full last name followed by an underscore and arbitrary poster name, for example smith_graph_drawing.pdf.
</p>
<p>
  Please do NOT use paper submission system for anything related to posters. Even if the PacificVis 2016 program committee offered you to present an invited poster based on your earlier paper submission, please send the new 2-page version to the Poster Co-Chairs through (PacificVisPoster_AT_gmail.com) by the deadline. This will serve as an indication that you accept the invitation and are willing to present your work as a poster at the conference.
</p>

<%= end_back_link "Back to Call for Participation", cfp_path %>