<%= subheader("Deadlines") %>
<% if @upcoming_deadlines.nil? %>
  <p>Upcoming deadlines will be determined soon.</p>
<% else %>
  <ul class="important_dates">
    <% @upcoming_deadlines.each do |d| %>
      <li>
        <div class='date'>
          <%= d[:time] %>
        </div>
        <div class='description'>
          <%= d[:name].capitalize %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<%= subheader("Sponsors") %>
<% if !@sponsors.nil? %>
  <%= content_tag :ul, :class=>"sponsor_list" do %>
    <% @sponsors.each do |s| %>
      <%= content_tag :li do %>
        <%= link_to s[:url] do %>
          <%= image_tag s[:thumbnail], :alt=>s[:name] %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
