<%= subheader("Deadlines") %>
<p>Upcoming deadlines will be determined soon.</p>

<%= subheader("Sponsors") %>
<% if !@sponsors.nil? %>
  <%= content_tag :ul, :class=>"sponsor_list" do %>
    <% @sponsors.each do |s| %>
      <%= content_tag :li do %>
        <%= link_to s[:url] do %>
          <%= image_tag s[:thumbnail], :alt=>s[:name] %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>