<%= subheader("Deadlines") %>
<% if @upcoming_deadlines.nil? %>
  <p>Upcoming deadlines will be determined soon.</p>
<% else %>
  <ul class="important_dates">
    <% @upcoming_deadlines.each do |d| %>
      <li>
        <div class='date'>
          <%= d[:time] %>
        </div>
        <div class='description'>
          <%= d[:name].capitalize %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<%= subheader("News") %>
<ul class="important_dates">
  <li><b>
    We're now accepting paper submission: <%= link_to "Link", "https://precisionconference.com/~vgtc" %>
  </b></li>

</ul>

<%= subheader("Sponsors") %>
<% if !@sponsors.nil? %>
  <%= content_tag :ul, :class=>"sponsor_list" do %>
    <% @sponsors.each do |s| %>
      <%= content_tag :li do %>
        <%= link_to s[:url] do %>
          <%= image_tag s[:thumbnail], :alt=>s[:name] %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if !@previous.nil? %>
  <%= subheader("Previous Events") %>
  <ul class="previous_years">
    <% @previous.each do |p| %>
      <%= link_to p.url do %>
      <li>
        <div class='year'><%= p.year %></div>
        <div class='location'><%= p.location %></div>
        <div class='date'><%= "#{p.from.strftime("%b %d")} - #{p.to.strftime("%b %d")}" %></div>
      </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if !@channels.nil? %>
  <%= subheader("Channels") %>
  <ul class="channel_list">
    <% @channels.each do |channel| %>
      <li class="channel">
        <%= link_to channel[:url], :target=>"_blank" do %>
        <table>
          <tr>
            <td class="logo">
              <%= image_tag channel[:image] %>
            </td>
            <td class="content">
              <%= content_tag :div, channel[:name], :class=>"name" %>
              <%= content_tag :div, channel[:description], :class=>"description" %>
            </td>
          </tr>
        </table>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>